@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  } */
  .address-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  /* --HERO-- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 48px;
    background-image: var(--l-gradient), url(../images/bghero-0.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--l-gradient), url(../images/hero-dt-2x.jpg);
    }
  }
}
