@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .mob-menu-phone {
    font-size: 36px;
  }
  .footer-subscribe-section > .container {
    max-width: 426px;
  }
  .subscribe-input {
    width: 100%;
  }
}
